@import "tailwindcss";

:root {
  --background: #171717;
  /* --background: #ffffff; */
  --foreground: #171717;
}

@theme inline {
  --font-montserrat: var(--font-montserrat);
  --font-inter: var(--font-inter);
  --font-manrope: var(--font-manrope);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --font-montserrat: var(--font-montserrat);
    --font-inter: var(--font-inter);
    --font-manrope: var(--font-manrope); */
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}